<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Contact Details</p>
            <p class="fst-iatlic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo magni architecto modi. Minima molestias deserunt porro alias accusantium vitae excepturi corrupti. Vel ea hic pariatur saepe magnam, sed atque!
            </p>  
        </div>
    </div>
</div>
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<div  class="container">
    <div class="row">
        <div class="col">
            <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        </div>
    </div>
</div>
<div class="container" *ngIf="!loading && isNotEmpty()">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img class="contact-img" [src]="contact.photo">
        </div>
       <div class="col-sm-6">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger" >Name: <span class="fw-bold">{{contact.name}}</span></li>
            <li class="list-group-item list-group-item-success" >Email: <span class="fw-bold">{{contact.email}}</span></li>
            <li class="list-group-item list-group-item-danger" >Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
            <li class="list-group-item list-group-item-success" >Group Name: <span class="fw-bold">{{groups.name}}</span></li>
            <li class="list-group-item list-group-item-danger" >Company: <span class="fw-bold">{{contact.company}}</span></li>
            <li class="list-group-item list-group-item-success" >Title: <span class="fw-bold"> {{contact.title}}</span></li>
            
        </ul>
       </div>
    </div>
    <div class="row">
        <div class="col-sm-4 mt-3">
            <a routerLink="/" type="submit" class="btn btn-dark">
               <i class="fa fa-arrow-alt-circle-left"></i> Back
            </a>
    </div>
</div>
