<div class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container">
      <a routerLink="/" class="navbar-brand">
       <i class="fa fa-mobile"></i> NG Contact</a>
       <button routerLink="/login" class="btn btn-danger" type="float:right; background-color:white; color:red;">Logout</button>
    </div>
</div>