

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-iatlic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo magni architecto modi. Minima molestias deserunt porro alias accusantium vitae excepturi corrupti. Vel ea hic pariatur saepe magnam, sed atque!
            </p>
        </div>
    </div>
    
</div>

<!-- contact form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="updateContact()">
                <div class="mb-2">
                    <input required="true"  
                    [(ngModel)]="contact.name"
                    [value]="contact.name" 
                    name="name"
                    type="text"
                     class="form-control" placeholder="name">                    
                </div>
                <div class="mb-2">
                    <input  required="true"  
                    [(ngModel)]="contact.photo"
                    [value]="contact.photo" 
                    name="photo"
                    type="text" class="form-control" placeholder="Photo url">
                </div>
                <div class="mb-2">
                    <input   
                    [(ngModel)]="contact.email"
                    [value]="contact.email" 
                    name="email"
                    required="true" type="email" class="form-control" placeholder="email">
                </div>
                <div class="mb-2">
                    <input     
                    [(ngModel)]="contact.mobile"
                    [value]="contact.mobile" 
                    name="mobile"
                    required="true" type="number" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input    
                    [(ngModel)]="contact.company"
                    [value]="contact.company" 
                    name="company"
                    required="true" type="text" class="form-control" placeholder="company">
                </div>
                <div class="mb-2">
                    <input    
                    [(ngModel)]="contact.title"
                    [value]="contact.title" 
                    name="title"
                    required="true" type="text" class="form-control" placeholder="Title">
                </div>
                <div  class="mb-2">
                   <select 
                   [(ngModel)]="contact.groupId"
                   [value]="contact.groupId" 
                   name="groupId" required="true"  class="form-control">
                       <option> select a group</option>
                       <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                   </select>
                </div>
                <div class="mb-2">
                    <input type="submit" routerLink="/" class="btn btn-success" value="update">
                    <a routerLink="/" class="btn btn-dark ms-2">close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img"  [src]="contact.photo">
        </div>
    </div>
</div>

