<div class="container mt-5">
    <div class="col">
        <div class="row">
            <p class="text-danger text-center spinner-grow" role="status" >
                <span class="sr-only">loading...</span>
            </p>
        </div>
    </div>

</div>
