
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-iatlic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo magni architecto modi. Minima molestias deserunt porro alias accusantium vitae excepturi corrupti. Vel ea hic pariatur saepe magnam, sed atque!
            </p>
        </div>
    </div>
</div>
<div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>  

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="name" [(ngModel)]="contact.name" name="name" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo url" [(ngModel)]="contact.photo" name="photo" required="true">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="email" [(ngModel)]="contact.email" name="email" required="true">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile" [(ngModel)]="contact.mobile" name="mobile" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="company" [(ngModel)]="contact.company" name="company" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title" [(ngModel)]="contact.title" name="title" required="true">
                </div>
                <div class="mb-2" aria-placeholder="groupName">
                   <select class="form-control" *ngIf="groups.length > 0" [(ngModel)]="contact.groupId" name="groupId" required="true">
                       <option> select a group</option>
                       <option *ngFor="let group of groups">{{group.name}}</option>
                   </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-success" value="create">
                    <a routerLink="/" class="btn btn-dark ms-2">close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo">
        </div>
    </div>
</div>

