<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="fw-bold h3 text-danger">
        NG Contact
        <a class="btn btn-danger btn-sm" routerLink="/contacts/add">
          <i class="fa fa-plus-circle">new</i>
        </a>
      </p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        recusandae ullam tempora iure beatae esse, voluptatibus et commodi iusto
        quod a facilis, nemo totam odio dolorum modi harum doloribus facere.
      </p>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col mb-2">
                <input
                  type="text"
                  class="form-controle"
                  placeholder="Search User"
                />
              </div>
              <div class="col">
                <input
                  type="submit"
                  class="btn btn-outline-dark btn-sm"
                  placeholder="Search" 
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
    </div>
  </div>
</div> 

<div class="container mt-3" *ngIf="!loading && contacts.length > 0">
  <div class="row">
    <div  class="col-md-6" *ngFor="let contact of contacts">
        <div class="card list-group-item-danger shadow-lg my-2">
            <div class="card-body">
                <div class="row align-item-center">
                    <div class="col-sm-4">
                        <img  class="contact-img" [src]="contact.photo" style="height: 90%;  width: 80%;">
                    </div>
                    <div class="col-sm-7">
                        <ul class="list-group">
                            <li class="list-group-item" >Name: <span class="fw-bold">{{contact.name}}</span></li>
                            <li class="list-group-item" >Email: <span class="fw-bold">{{contact.email}}</span></li>
                            <li class="list-group-item" >Number: <span class="fw-bold">{{contact.mobile}}</span></li>
                        </ul>
                    </div>
                    <div class="col-sm-1 flex-column d-flex  align-items-center justify-content-center">
                        <a class="btn btn-warning my-1 " routerLink="/contacts/view/{{contact.id}}">
                            <i class="fa fa-eye "></i>
                        </a>
                        <a class="btn btn-primary my-1 " routerLink="/contacts/edit/{{contact.id}}">
                            <i class="fa fa-pen"></i>
                        </a>
                        <button class="btn btn-danger my-1" (click)="deleteContact(contact.id)">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
  </div>
</div>
